<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/static/web.css">
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="shuffle-for-tailwind.png"> -->
  <script type="module" src="/static/web.js"></script>
  <script src="/static/include-livereload.js" defer></script>
  {{.Head}}
</head>
<body class="grid | min-h-full p-0 m-0 antialiased bg-neutral-100 text-body font-body" style="grid-template-columns: [topcover-start leftcover-start] minmax(1rem, 1fr) [header-start sidebar-start] minmax(200px,300px) [sidebar-end leftcover-end rightcover-start main-start] minmax(300px, 700px) [main-end header-end] 1fr [topcover-end rightcover-end]; grid-template-rows: [topcover-start header-start] min-content [header-end topcover-end leftcover-start rightcover-start sidebar-start main-start] minmax(1rem, 1fr) [sidebar-end main-end leftcover-end rightcover-end]">

  <c-nav-topbar class="order-3" style="grid-area: header" />

  <c-nav-sidebar class="pr-4 py-4 sm:pr-6" style="grid-area: sidebar" />

  <main class="flex flex-col space-y-6 | bg-neutral-100 pl-4 py-4 sm:pl-6" style="grid-area: main">
    <header class="">
      <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">{{.Title}}</h1>
    </header>

    {{.Content}}
  </main>

  <div class="-order-1 bg-white border border-neutral-200" style="grid-area: topcover"></div>
  <div class="-order-1 bg-white" style="grid-area: leftcover"></div>
  <div class="-order-1 bg-neutral-100" style="grid-area: rightcover"></div>
  <form id="generic-form"></form>
</body>
</html>

<!--  -->
