<!DOCTYPE html>
<html lang="en" class="h-full scroll-smooth">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{{.Title}}</title>
  <link rel="stylesheet" href="/static/web.css">
  <!-- <link rel="icon" type="image/png" sizes="32x32" href="shuffle-for-tailwind.png"> -->
  <script type="module" src="/static/web.js"></script>
  <script src="/static/include-livereload.js" defer></script>
  {{.Head}}
</head>
<body class="h-full p-0 m-0 antialiased bg-gray-50 text-body font-body">
  <div class="min-h-full flex flex-col">
    <c-nav-topbar />

    <div class="flex flex-wrap items-stretch | grow max-w-7xl mx-auto">
      <div class="flex items-stretch justify-end | bg-white border-gray-200 border-r py-4">
        <div class="flex flex-col gap-y-5 | w-[18rem] px-6">
          <c-nav-sidebar />
        </div>
      </div>

      <div class="basis-0 grow-[8] min-w-1/2 py-10 px-4 sm:px-6 lg:px-8 flex flex-col items-start justify-items-start">
        <header class="">
          <h1 class="text-3xl font-bold leading-tight tracking-tight text-gray-900">{{.Title}}</h1>
        </header>
        <main class="">
          {{.Content}}
        </main>
      </div>
    </div>
  </div>
</body>
</html>

<!--  -->
