<section class="my-6 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap items-center justify-between px-6 py-3.5 bg-white rounded-full">
      <c-logo />
      <ul class="items-center hidden md:flex justify-center space-x-9">
        <li><a class="inline-block text-sm font-semibold text-gray-900 hover:text-gray-700" href="#how">How it works</a></li>
        <!-- <li><a class="inline-block text-sm font-semibold text-gray-900 hover:text-gray-700" href="#faq">FAQ</a></li> -->
        <!-- <li><a class="inline-block text-sm font-semibold text-gray-900 hover:text-gray-700" href="#pricing">Pricing</a></li> -->
      </ul>
      <div class="flex items-center -m-2">
        <div class="w-auto p-2"><a class="block w-full px-4 py-2.5 text-sm text-center text-gray-900 font-bold bg-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-200 border rounded-full" href="{{url_for $ "signin"}}">Log In</a></div>
        <div class="w-auto p-2"><a class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#start">Get Started</a></div>
      </div>
    </div>
  </div>
</section>

<section class="pb-6 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="bg-white overflow-hidden rounded-t-3xl">
      <div class="px-8 pt-20">
        <div class="md:max-w-2xl text-center mx-auto">
          <span class="inline-block mb-3 text-sm text-purple-500 font-bold uppercase tracking-widest">LibroAI</span>
          <h1 class="font-heading mb-6 text-5xl lg:text-6xl text-gray-900 font-black tracking-tight" contenteditable="false">Unlock your content</h1>
          <p class="mb-8 text-xl font-bold" contenteditable="false">Use the videos and texts you <span class="text-purple-500">already have</span> to build an AI knowledge base and chatbot that helps your employees or students resolve their questions immediately, 24/7.</p>
          <div class="flex flex-wrap justify-center mb-20 -m-2">
            <div class="w-full md:w-auto p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#start">Get Started</a></div>
          </div>
        </div>
      </div>
      <div class="relative hidden">
        <div class="relative z-20 px-8 max-w-max mx-auto">
          <img src="zanrly-assets/images/headers/video.png" alt=""><a class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 inline-block px-8 py-3.5 text-lg text-center text-gray-900 font-bold bg-gray-50 hover:bg-gray-200 focus:ring-4 focus:ring-gray-200 rounded-full" href="#">Watch Video</a>
        </div>
        <div class="absolute left-0 top-0 w-full h-1/2 bg-gray-100">
          <div class="h-full bg-white rounded-b-3xl"></div>
        </div>
        <div class="absolute left-0 bottom-0 w-full h-1/2 bg-gray-100"></div>
      </div>
    </div>
  </div>
</section>

<section id="how" class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="py-16 px-8 bg-white rounded-3xl">
      <div class="max-w-7xl mx-auto">
        <h2 class="font-heading max-w-xl mb-20 text-4xl md:text-5xl text-gray-900 font-black tracking-tight">How it works</h2>
        <div class="flex flex-wrap -m-3">
          <div class="w-full md:w-1/2 lg:w-1/4 p-3">
            <div class="flex flex-wrap items-center -m-3 mb-2">
              <div class="w-auto p-3">
                <div class="flex items-center justify-center w-16 h-16 text-xl font-black rounded-full text-white bg-purple-500">1</div>
              </div>
              <div class="flex-1 p-3">
                <div class="bg-gray-200 h-px"></div>
              </div>
            </div>
            <div class="md:w-3/4">
              <h3 class="font-heading mb-4 text-2xl text-gray-900 font-bold">Upload content</h3>
              <p class="text-gray-700 font-semibold">Upload your videos and documents, or connect Vimeo, Notion or Google Docs.</p>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 p-3">
            <div class="flex flex-wrap items-center -m-3 mb-2">
              <div class="w-auto p-3">
                <div class="flex items-center justify-center w-16 h-16 text-xl text-gray-900 font-black bg-gray-100 rounded-full">2</div>
              </div>
              <div class="flex-1 p-3">
                <div class="bg-gray-200 h-px"></div>
              </div>
            </div>
            <div class="md:w-3/4">
              <h3 class="font-heading mb-4 text-2xl text-gray-900 font-bold">AI magic</h3>
              <p class="text-gray-700 font-semibold">We extract the knowledge from all the videos and documents you provided.</p>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 p-3">
            <div class="flex flex-wrap items-center -m-3 mb-2">
              <div class="w-auto p-3">
                <div class="flex items-center justify-center w-16 h-16 text-xl text-white bg-purple-500 rounded-full">3</div>
              </div>
              <div class="flex-1 p-3">
                <div class="bg-gray-200 h-px"></div>
              </div>
            </div>
            <div class="md:w-3/4">
              <h3 class="font-heading mb-4 text-2xl text-gray-900 font-bold">Publish</h3>
              <p class="text-gray-700 font-semibold">You're getting an AI search tool and chatbot you can share with your community.</p>
            </div>
          </div>
          <div class="w-full md:w-1/2 lg:w-1/4 p-3">
            <div class="flex flex-wrap items-center -m-3 mb-2">
              <div class="w-auto p-3">
                <div class="flex items-center justify-center w-16 h-16 text-xl text-gray-900 font-black bg-gray-100 rounded-full">4</div>
              </div>
              <div class="flex-1 lg:hidden p-3">
                <div class="bg-gray-200 h-px"></div>
              </div>
            </div>
            <div class="md:w-3/4">
              <h3 class="font-heading mb-4 text-2xl text-gray-900 font-bold">Analyze</h3>
              <p class="text-gray-700 font-semibold">Track effectiveness, identify topics to bring more materials about.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{if false}}
<section id="pricing" class="py-16 bg-gray-100 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="mb-12 max-w-2xl mx-auto text-center">
      <h2 class="font-heading text-4xl md:text-5xl text-gray-900 font-black tracking-tight">Try it now.</h2>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="w-full md:w-1/3 p-4">
        <div class="flex flex-col justify-between p-8 h-full bg-white rounded-3xl">
          <div class="flex-initial mb-6">
            <span class="inline-block mb-4 text-sm text-purple-500 font-bold uppercase tracking-widest">Trial</span>
            <h2 class="font-heading text-4xl text-gray-900 font-black tracking-tight">
              <span>$50</span><span class="text-xl text-gray-500 font-bold">/mo</span>
            </h2>
            <p class="mb-8 text-sm text-gray-400 font-bold">15-day trial, no Credit Card required</p>
            <ul class="space-y-4">
              <c-pricing-item active>50 documents</c-pricing-item>
              <c-pricing-item active>10 videos</c-pricing-item>
              <c-pricing-item active>20 users</c-pricing-item>
              <c-pricing-item active>400 messages/mo</c-pricing-item>
              <c-pricing-item>Account manager</c-pricing-item>
            </ul>
          </div>
          <div class="flex-initial">
            <div class="flex flex-wrap -m-2">
              <div class="w-full p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#start">Get Started</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 p-4">
        <div class="flex flex-col justify-between p-8 h-full bg-white rounded-3xl">
          <div class="flex-initial mb-6">
            <span class="inline-block mb-4 text-sm text-purple-500 font-bold uppercase tracking-widest">Small Business</span>
            <h2 class="font-heading text-4xl text-gray-900 font-black tracking-tight">
              <span>$200</span><span class="text-xl text-gray-500 font-bold">/mo</span>
            </h2>
            <p class="mb-8 text-sm text-gray-400 font-bold">&nbsp;
              <!-- 15-day trial, no Credit Card required -->
            </p>
            <ul class="space-y-4">
              <c-pricing-item active>Unlimited documents</c-pricing-item>
              <c-pricing-item active>100 videos</c-pricing-item>
              <c-pricing-item active>Unlimited users</c-pricing-item>
              <c-pricing-item active>2000 messages/mo</c-pricing-item>
              <c-pricing-item>Account manager</c-pricing-item>
            </ul>
          </div>
          <div class="flex-initial">
            <div class="flex flex-wrap -m-2">
              <div class="w-full p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#">Get Started</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 p-4">
        <div class="flex flex-col justify-between p-8 h-full bg-white rounded-3xl">
          <div class="flex-initial mb-6">
            <span class="inline-block mb-4 text-sm text-purple-500 font-bold uppercase tracking-widest">Custom plans</span>
            <h2 class="font-heading text-4xl text-gray-900 font-black tracking-tight">
              <span class="text-xl text-gray-500 font-bold">from </span><span>$1000</span><span class="text-xl text-gray-500 font-bold">/mo</span>
            </h2>
            <p class="mb-8 text-sm text-gray-400 font-bold">Details negotiated upon request</p>
            <ul class="space-y-4">
              <c-pricing-item active>Unlimited documents</c-pricing-item>
              <c-pricing-item active>Unlimited videos</c-pricing-item>
              <c-pricing-item active>Unlimited users</c-pricing-item>
              <c-pricing-item active>Unlimited messages</c-pricing-item>
              <c-pricing-item active>Account manager</c-pricing-item>
            </ul>
          </div>
          <div class="flex-initial">
            <div class="flex flex-wrap -m-2">
              <div class="w-full p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#">Talk to Us</a></div>
            </div>
          </div>
        </div>
      </div>
      {{ if false }}
      <div class="w-full md:w-1/3 p-4">
        <div class="flex flex-col justify-between p-8 h-full bg-white rounded-3xl">
          <div class="flex-initial mb-6">
            <span class="inline-block mb-6 text-sm text-purple-500 font-bold uppercase tracking-widest">SMALL BUSINESS</span>
            <h2 class="font-heading text-4xl text-gray-900 font-black tracking-tight">$100/mo</h2>
            <p class="mb-8 text-sm text-gray-400 font-bold">15-day free trial.</p>
            <ul>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-purple-500" />
                <p class="text-gray-900 font-bold">10 hours of video included.</p>
              </li>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-purple-500" />
                <p class="text-gray-900 font-bold">1200+ UI Blocks</p>
              </li>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-purple-500" />
                <p class="text-gray-900 font-bold">10 GB Cloud Storage</p>
              </li>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-gray-400" />
                <p class="text-gray-400 font-bold">Advanced answers</p>
              </li>
              <li class="flex items-center">
                <c-icon src="images/pricing-checkmark.svg" class="text-gray-400" />
                <p class="text-gray-400 font-bold">Premium Support</p>
              </li>
            </ul>
          </div>
          <div class="flex-initial">
            <div class="flex flex-wrap -m-2">
              <div class="w-full p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#">Start Now</a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="w-full md:w-1/3 p-4">
        <div class="flex flex-col justify-between p-8 h-full bg-gray-100 border border-gray-200 rounded-3xl shadow-md">
          <div class="flex-initial mb-6">
            <span class="inline-block mb-6 text-sm text-purple-500 font-bold uppercase tracking-widest">GROWTH
            </span>
            <h2 class="font-heading text-4xl text-gray-900 font-black tracking-tight">
              <span>$300</span><span class="text-xl text-gray-500 font-bold">/mo</span>
            </h2>
            <p class="mb-8 text-sm text-gray-400 font-bold">Billed Annually</p>
            <ul class="space-y-4">
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-purple-500" />
                <p class="text-gray-900 font-bold">1 Team Members</p>
              </li>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-purple-500" />
                <p class="text-gray-900 font-bold">1200+ UI Blocks</p>
              </li>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-purple-500" />
                <p class="text-gray-900 font-bold">10 GB Cloud Storage</p>
              </li>
              <li class="flex items-center mb-4">
                <c-icon src="images/pricing-checkmark.svg" class="text-gray-400" />
                <p class="text-gray-400 font-bold">Individual Email Account</p>
              </li>
              <li class="flex items-center">
                <c-icon src="images/pricing-checkmark.svg" class="text-gray-400" />
                <p class="text-gray-400 font-bold">Premium Support</p>
              </li>
            </ul>
          </div>
          <div class="flex-initial">
            <div class="flex flex-wrap -m-2">
              <div class="w-full p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-gray-900 font-bold bg-white hover:bg-gray-200 focus:ring-4 focus:ring-gray-300 rounded-full" href="#">Start Now</a></div>
            </div>
          </div>
        </div>
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}

<section id="start" class="py-10 bg-gray-50 overflow-hidden">
  <form class="container mx-auto px-4" method="POST" action="{{url_for $ "landing.signup"}}">
    <div class="py-16 px-8 bg-white overflow-hidden rounded-3xl">
      <div class="mb-6 max-w-3xl mx-auto text-center"><span class="inline-block mb-2 text-sm text-purple-500 font-bold uppercase tracking-widest">Get your own</span>
        <h2 class="font-heading text-4xl md:text-5xl text-gray-900 font-black tracking-tight">Build your knowledge bot now.</h2>
      </div>
      <div class="md:max-w-sm mx-auto mb-10">
        <div class="flex flex-wrap -m-2">
          <div class="w-full p-2">
            <input type="email" name="email" autocomplete="email" class="px-6 py-3.5 w-full text-lg text-gray-500 text-center font-bold bg-gray-100 outline-none focus:ring-4 focus:ring-purple-200 placeholder-gray-500 rounded-full" id="newsletterLightReverseInput4-1" type="text" placeholder="you@yourcompany.com"/>
          </div>
          <div class="w-full p-2">
            <input type="text" name="organization" autocomplete="organization" class="px-6 py-3.5 w-full text-lg text-gray-500 text-center font-bold bg-gray-100 outline-none focus:ring-4 focus:ring-purple-200 placeholder-gray-500 rounded-full" id="newsletterLightReverseInput4-1" type="text" placeholder="Your Company Name"/>
          </div>
          <div class="w-full p-2">
            <input type="text" name="name" autocomplete="name" class="px-6 py-3.5 w-full text-lg text-gray-500 text-center font-bold bg-gray-100 outline-none focus:ring-4 focus:ring-purple-200 placeholder-gray-500 rounded-full" id="newsletterLightReverseInput4-1" type="text" placeholder="Your Name"/>
          </div>
          <div class="w-full p-2">
            <div class="flex flex-wrap justify-center -m-2">
              <div class="w-full p-2"><button type="submit" class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-purple-500 hover:bg-purple-600 focus:ring-4 focus:ring-purple-200 rounded-full" href="#">Start Now</button></div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="flex flex-wrap justify-center -m-3">
        <div class="w-auto p-3">
          <div class="flex flex-wrap">
            <div class="w-auto mr-2 pt-1">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
              </svg>
            </div>
            <div class="flex-1">
              <p class="text-sm text-gray-900 font-bold">Get weekly reports</p>
            </div>
          </div>
        </div>
        <div class="w-auto p-3">
          <div class="flex flex-wrap">
            <div class="w-auto mr-2 pt-1">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
              </svg>
            </div>
            <div class="flex-1">
              <p class="text-sm text-gray-900 font-bold">Unlimited free resources</p>
            </div>
          </div>
        </div>
        <div class="w-auto p-3">
          <div class="flex flex-wrap">
            <div class="w-auto mr-2 pt-1">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8.095 1H3.905C2.085 1 1 2.085 1 3.905V8.09C1 9.915 2.085 11 3.905 11H8.09C9.91 11 10.995 9.915 10.995 8.095V3.905C11 2.085 9.915 1 8.095 1ZM8.39 4.85L5.555 7.685C5.485 7.755 5.39 7.795 5.29 7.795C5.19 7.795 5.095 7.755 5.025 7.685L3.61 6.27C3.465 6.125 3.465 5.885 3.61 5.74C3.755 5.595 3.995 5.595 4.14 5.74L5.29 6.89L7.86 4.32C8.005 4.175 8.245 4.175 8.39 4.32C8.535 4.465 8.535 4.7 8.39 4.85Z" fill="#3B82F6"></path>
              </svg>
            </div>
            <div class="flex-1">
              <p class="text-sm text-gray-900 font-bold">Premium contents</p>
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </form>
</section>

{{if false}}
<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="relative py-16 px-8 bg-white overflow-hidden rounded-3xl">
      <img class="absolute bottom-0 left-1/2 transform -translate-x-1/2" src="zanrly-assets/images/faq/pattern-gray2.svg" alt="">
      <div class="relative z-10 md:max-w-7xl mx-auto">
        <div class="md:max-w-xl mb-10">
          <span class="inline-block mb-5 text-sm text-purple-500 font-bold uppercase tracking-widest">Frequently asked questions</span>
          <h2 class="font-heading text-4xl md:text-5xl lg:text-6xl text-gray-900 font-black tracking-tight">Details</h2>
        </div>
        <div class="flex flex-wrap -m-3">
          <div class="w-full p-3">
            <div class="p-10 bg-gray-100 rounded-3xl">
              <div class="flex flex-wrap -m-2">
                <div class="w-full md:w-1/2 p-2">
                  <h3 class="font-heading text-xl text-gray-900 font-black">Is it really unlimited downloads?</h3>
                </div>
                <div class="w-full md:w-1/2 p-2">
                  <p class="text-gray-500 font-bold">Lorem ipsum dolor sit amet, to the consectr adipiscing elit. Volutpat tempor to the condi mentum vitae vel purus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full p-3">
            <div class="p-10 bg-gray-100 rounded-3xl">
              <div class="flex flex-wrap -m-2">
                <div class="w-full md:w-1/2 p-2">
                  <h3 class="font-heading text-xl text-gray-900 font-black">Do you offer discounts on annual plans?</h3>
                </div>
                <div class="w-full md:w-1/2 p-2">
                  <p class="text-gray-500 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis euismod ornare aenean ut justo elit amet. Gravida pulvinar ac elementum praesent vel quis accumsan, proin rhoncus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="w-full p-3">
            <div class="p-10 bg-gray-100 rounded-3xl">
              <div class="flex flex-wrap -m-2">
                <div class="w-full md:w-1/2 p-2">
                  <h3 class="font-heading text-xl text-gray-900 font-black">What kind of file do you offer with the packages?</h3>
                </div>
                <div class="w-full md:w-1/2 p-2">
                  <p class="text-gray-500 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sagittis euismod ornare aenean ut justo elit amet.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="py-16 px-8 text-center bg-purple-500 rounded-3xl">
      <div class="md:max-w-lg mx-auto">
        <h2 class="font-heading mb-6 text-4xl md:text-5xl text-white font-black tracking-tight">Invest in a better way to work online.</h2>
        <p class="mb-10 text-xl text-purple-100 font-bold">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis venenatis volutpat velit, quis iaculis velit bibendum a. Maecenas accumsan fermentum nisl.</p>
        <div class="flex flex-wrap justify-center -m-2 mb-4">
          <div class="w-auto p-2"><a class="block w-full px-8 py-3.5 text-lg text-center text-white font-bold bg-gray-900 hover:bg-gray-800 focus:ring-4 focus:ring-gray-600 rounded-full" href="#">Get Started Now</a></div>
        </div>
        <p class="text-xs text-purple-100">No credit card required.</p>
      </div>
    </div>
  </div>
</section>
{{end}}

<section class="py-10 overflow-hidden">
  <div class="container mx-auto px-4">
    <div class="py-16 px-8 bg-white rounded-3xl">
      <div class="max-w-7xl mx-auto">
        <div class="flex flex-wrap -m-8 mb-8">
          <div class="w-full md:w-1/3 p-8">
            <c-logo class="mb-6" />
            <p class="text-xl font-bold">We help businesses get on top of the AI revolution.</p>
          </div>
          {{if false}}
          <div class="w-full md:w-1/3 p-8">
            <ul class="md:max-w-max ml-auto">
              <li class="mb-6"><a class="inline-block text-3xl text-gray-700 hover:text-purple-500 font-black tracking-tight" href="#">Products</a></li>
              <li class="mb-6"><a class="inline-block text-3xl text-gray-700 hover:text-purple-500 font-black tracking-tight" href="#">About us</a></li>
              <li class="mb-6"><a class="inline-block text-3xl text-gray-700 hover:text-purple-500 font-black tracking-tight" href="#">Careers</a></li>
              <li class="mb-6"><a class="inline-block text-3xl text-gray-700 hover:text-purple-500 font-black tracking-tight" href="#">Portfolio</a></li>
              <li><a class="inline-block text-3xl text-gray-700 hover:text-purple-500 font-black tracking-tight" href="#">Contact Us</a></li>
            </ul>
          </div>
          <div class="w-full md:w-1/3 p-8">
            <ul class="md:max-w-max ml-auto">
              <li class="mb-4"><a class="inline-block text-gray-500 hover:text-gray-600 font-medium" href="#">Docs</a></li>
              <li class="mb-4"><a class="inline-block text-gray-500 hover:text-gray-600 font-medium" href="#">Knowledge Base</a></li>
              <li class="mb-4"><a class="inline-block text-gray-500 hover:text-gray-600 font-medium" href="#">System Status</a></li>
              <li><a class="inline-block text-gray-500 hover:text-gray-600 font-medium" href="#">Security</a></li>
            </ul>
          </div>
        {{end}}
        </div>
        <div class="flex flex-wrap items-center justify-between -m-4">
          <div class="w-auto p-4">
            <p class="font-bold"><span>© 2023 </span><a class="text-purple-500 hover:text-purple-600" href="https://tarantsov.com/">Andrey Tarantsov</a></p>
          </div>
          <div class="w-auto p-4 hidden">
            <div class="flex flex-wrap -m-4">
              <div class="w-auto p-4"><a class="block" href="#"><!-- social account image --></a></div>
              <div class="w-auto p-4"><a class="block" href="#"><img src="zanrly-assets/images/twitter.svg" alt=""></a></div>
              <div class="w-auto p-4"><a class="block" href="#"><img src="zanrly-assets/images/footers/fb.svg" alt=""></a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
