<nav class="flex flex-col {{.class}}" style="{{.style}}">
  <ul role="list" class="flex flex-1 flex-col gap-y-7">
    {{if $.IsActive "chat"}}
    <c-nav-sidebar-item title="New Chat" route="chat.home" sempath="chat/c/0" />
    <c-nav-sidebar-group title="Chats">
      {{range $.RC.Chats}}
        {{template "chat/_nav_item" $.Bind .}}
      {{end}}
    </c-nav-sidebar-group>
    {{else if $.IsActive "lib"}}
    <c-nav-sidebar-group>
      <c-nav-sidebar-folder folder={{$.RC.Library.RootFolder}} />
    </c-nav-sidebar-group>
    {{else if $.IsActive "mod"}}
    <c-nav-sidebar-group>
      <c-nav-sidebar-item title="Account Activity" icon="icons/navbar-dashboard.svg" route="mod.activity"/>
    </c-nav-sidebar-group>
    <c-nav-sidebar-group title="All Chats">
      {{range $.RC.Chats}}
        <c-nav-sidebar-item id="chat_nav_{{.ID}}" title="{{.TitleWithFallback}}" route="mod.chat.view" path-chat={{.ID}} sempath="chat/c/{{.ID}}" />
      {{end}}
    </c-nav-sidebar-group>
    {{else if $.IsActive "admin"}}
    <c-nav-sidebar-group>
      <c-nav-sidebar-item title="Users" icon="icons/navbar-team.svg" route="admin.users" />
      <c-nav-sidebar-item title="Whitelist" icon="icons/navbar-team.svg" route="admin.whitelist" sempath="admin/whitelist" />
      {{/*<c-nav-sidebar-item title="Team" icon="icons/navbar-team.svg" route="chat.home" sempath="" />
      <c-nav-sidebar-item title="Projects" letter="P" route="" sempath="" />
      <c-nav-sidebar-item title="Calendar" letter="C" route="" sempath="" />
      <c-nav-sidebar-item title="Documents" letter="D" route="" sempath="" />
      <c-nav-sidebar-item title="Reports" letter="R" route="" sempath="" />*/}}
    </c-nav-sidebar-group>
    {{/*<c-nav-sidebar-group title="Your teams">
      <c-nav-sidebar-item title="Heroicons" letter="H" route="" sempath="" />
      <c-nav-sidebar-item title="Tailwind Labs" letter="T" route="" sempath="" />
      <c-nav-sidebar-item title="Workcation" letter="W" route="" sempath="" />
    </c-nav-sidebar-group>*/}}
    {{else if $.IsActive "superadmin"}}
    <c-nav-sidebar-group>
      <c-nav-sidebar-item title="Accounts" route="superadmin.accounts" sempath="superadmin/accounts" />
      <c-nav-sidebar-item title="Maintenance" route="superadmin.maintenance" sempath="superadmin/maintenance" />
      <c-nav-sidebar-item title="DB" letter="D" route="db.tables" sempath="superadmin/db" />
    </c-nav-sidebar-group>
    {{end}}
    <!-- <li class="-mx-6 mt-auto">
      <a href="#" class="flex items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-gray-900 hover:bg-gray-50">
        <img class="h-8 w-8 rounded-full bg-gray-50" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
        <span class="sr-only">Your profile</span>
        <span aria-hidden="true">Tom Cook</span>
      </a>
    </li> -->
  </ul>
</nav>
