<c-link route="chat.home" sempath="chat" class={{.class}} active-class={{.active_class}} inactive-class={{.inactive_class}}>Chat</c-link>
<c-link route="lib.home" sempath="lib" class={{.class}} active-class={{.active_class}} inactive-class={{.inactive_class}}>Library</c-link>
<c-link route="mod.home" sempath="mod" class={{.class}} active-class={{.active_class}} inactive-class={{.inactive_class}}>Activity</c-link>
<c-link route="admin.home" sempath="admin" class={{.class}} active-class={{.active_class}} inactive-class={{.inactive_class}}>Admin</c-link>
{{if can $ "access-superadmin-area" -}}
<c-link route="superadmin.home" sempath="superadmin" class={{.class}} active-class={{.active_class}} inactive-class={{.inactive_class}}>SuperAdmin</c-link>
{{- end}}
