[Unit]
Description={{.service}}
After=network.target

[Service]
User={{.username}}
Restart=always
PIDFile=/run/{{.service}}.pid
Type=simple
ExecStart={{.mainFile}}
KillMode=process
EnvironmentFile={{.confFile}}

[Install]
WantedBy=multi-user.target
